page-dialog-hitungtotal {
    .divgue{
        float:left;width:100%;padding:10px
    }

    .select2, .select2-container, .select2-container--default{
        width: 100% !important;
    }
    .select2-results__option--selectable{
        font-size: 18px !important;
    }
    .myFont{
        font-size: 18px !important;
    }
}
