<!DOCTYPE html>
<html>
<head>
  <title>Ionic SelectSearchable Demo</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/core-js@2.4.1/client/shim.min.js"></script>
  <script src="https://unpkg.com/zone.js@0.6.26?main=browser"></script>
  <script src="https://unpkg.com/systemjs@0.19.40/dist/system.src.js"></script>
  <script src="systemjs.config.js"></script>
  <link href="https://unpkg.com/ionic-angular@3.1.1/css/ionic.css" rel="stylesheet">
  <link href="https://unpkg.com/ionic-select-searchable@latest/select-searchable.style.min.css" rel="stylesheet">
</head>
<body>
  <ion-app></ion-app>
  <script>
    System.import('app').catch(function(error) {
      console.error(error);
    });
  </script>
</body>
</html>