page-pilih-paket {
  .img_paket{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .img_paket img{
    height: 120px;
  }
  .img_paket p{
    color: #4B9ACF;
    font-size: 20px;
  }
}
